code {
  font-family: monospace;
  background-color: inherit;
}

pre.console {
  font-family: monospace;
  background: #333;
  color: #fff;
}

.panel-body > pre.prettyprint {
  border: 0;
  background: inherit;
  margin: 0;
}
